<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>What has Trump been up to today?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"/>  <!-- google fonts -->

    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>		<!-- jquery -->

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"> <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/> <!-- font awesome icons -->
    
    <link rel="stylesheet" type="text/css" href="public/css/style.css"> <!-- external style sheet -->
    
    
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> <!-- bootstrap js -->

</head>
<body>
    <div class="container-fluid">
        <div id = "home" class = "center panel">
            <div class = "title">What has <span style="color: #FB3640; font-size: 12vh;">TRUMP</span> been up to today?</div>
        </div>

        <div id = "news" class = "panel">
            <% let count = 40; %>
            <% if (response.totalResults < count){ %>
                <% count = response.totalResults; %>
            <% } %>

            <p class = "light-text center">Total results: <%= response.totalResults %></p>
            
            <% for (i = 0; i < count; i++){ %>
                <div class = "article">
                    <a href= <%= response.articles[i].url %> target="_blank">
                        <div class = "row" style = "padding: 0px;">
                            <div class = "col-md-3">
                                <img class = "col-md-12 article-image" src= <%= response.articles[i].urlToImage %>>
                            </div>
                            <div class = "col-md-9">
                                <div class = "article-text">
                                    <h4>
                                        <%= response.articles[i].title %></h4><br>
                                    <h5><span>
                                        <%= response.articles[i].source.name %>
                                    </span>

                                    <% let date = new Date(response.articles[i].publishedAt); %>
                                    <span style = "float: right;"><%= date.toLocaleDateString().substring(0) + ", " + date.toLocaleTimeString().substring(0, 5) %></span>
                                    </h5> 
                                    <hr style = "margin: 10px 0px;">
                                    <p><%= response.articles[i].description %></p>
                                    <% console.log(response.articles[i]); %>
                                </div>  
                            </div>
                        </div>
                    </a>
                </div>
            <% } %>

        </div>
        
        <div class = "center footer">
            <a href = "https://newsapi.org/" target = "_blank">Powered by NewsAPI.org</a><br><br>

            Site made with ♥ by Richard Wang<br>
            <a id="github-link" href="https://github.com/rwang99/WhatHasTrumpBeenDoing" target = "_blank"><i class="fa fa-github"></i> Github Repo</a>
        </div>
    </div>

</body>
</html>